backward { 
     display: inline-block;
    -moz-transform: scale(-1, 1); 
    -webkit-transform: scale(-1, 1);  
    transform: scale(-1, 1); 
} 

.text_h1_center{
	text-align: center; 
	font-weight: bold;"
}

.text_info{
	text-align: justify;
}